*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    color: white;
    background: url(ASSET/fontcontact.jpg) no-repeat;
    background-size: cover;
    /* background-color: #030303;
    background-image: linear-gradient(180deg, #030303 0%, #10064e 100%); */
    
    
    
}
#title{
    font-size: 70px;
    margin-left: 15px;
    font-family: 'Poppins', sans-serif;
}
#title:hover{
    font-size: 75px;
}

.container_accueil{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid salmon;
    
}

.container_accueil .navlink ul{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    

   
}
.fabriquant{
    margin-left: 100px;

}


ul, a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
a:hover{
    font-size: 33px;
    }

.piano{
    height: 100px;
    margin-right: 15px;
    margin-top: 10px;
}

/* formulaire */

section#section_3{
    padding: 100px 15px;
    font-family: 'Exo', sans-serif;
   
}

section#section_3 .container2 {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 60px 10px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: rgb(214 214 214)0px 10px 50px -10px #d6d6d6;
    height: 500px;
}

section#section_3 .container2 .title {
    text-align: center;
    color: #2a2a2a;
    margin-bottom: 50px;
}
section#section_3 .container2 .title h6 {
    font-size: 1em;
}
section#section_3 .container2 .title h4 {
    font-size: 2.2em;
}

section#section_3 .container2 form{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   max-width: 600px;
}


section#section_3 .container2 form input{
    width: 47%;
    padding: 10px ;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;
}

section#section_3 .container2 form input:hover,
section#section_3 .container2 form textarea:hover{
    border-bottom: 2px solid #1fb3bf;
}

section#section_3 .containe2r form input,
section#section_3 .containe2 form textarea{
    padding: 10px ;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;
}

section#section_3 .container2 form textarea{
    width: 100%;
    resize: none;
    height: 100px;
    margin-bottom: 40px;


}

.envoyer{   
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #1fb3bf;
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    margin-top: 30px;
    outline: none;
    margin: 0 auto;
    transition: 0.2s;
}

section#section_3 .container form button:hover{
    transform: translateY(-5px);
    box-shadow: rgb(214 214 214)0px 10px 40px 0px #d6d6d6;
    color: salmon;
}

@media screen and (max-width: 500px){
    section#section_3 .container form{
        flex-direction: column;
        widows: 95%;
    }
    section#section_3 .container form input{
        width: 100%;
    }

    section#section_3 .container .title h6 {
        font-size: 0.8em;
    }
    section#section_3 .container .title h4 {
        font-size: 2em;
    }
}

::placeholder {
    font-family: 'Poppins', sans-serif;

    font-size: 14px;
    font-style: italic;
    color: #999999;
  }

  .envoyer:hover{
    font-size: 20px;
  }

  .credit{
    text-align: center;
    font-size: 30px;
}
